.stopwatch {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.h1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pm {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.timer {
  width: 55px;
  border-radius: 25px;
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 60px;
  text-align: center;
  font-size: 30px;
}
.start1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.start {
  cursor: pointer;
  border: 3px solid var(--color-black);
  padding: var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.stop1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.stop {
  cursor: pointer;
  border: 3px solid var(--color-black);
  padding: var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.reset1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.buttons,
.clockStopwatch,
.reset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.reset {
  cursor: pointer;
  border: 3px solid var(--color-black);
  padding: var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-3xs);
}
.buttons,
.clockStopwatch {
  gap: 0 60px;
}
.clockStopwatch {
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 60px 32px;
  gap: 90px 10px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
